.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    border: 1px solid;
    margin: 1rem 0;
}
table tr ,th ,td {
    border: 1px solid;
    padding: 5px;
} 